@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;

}
.panel{
    background-size: auto 100% ;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex .7s ease-in ;
}
.panel h3{
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0;
    opacity: 0;

}
.panel.active{
    flex: 5;
    opacity: 1;
    border-radius: 10px;
}

.panel.active h3{
    text-shadow: 0cap;   
    color: #ed6809;
    text-decoration: underline;   
    transition: opacity 0.3s ease-in 0.4s;
    opacity: 1;
}

@media(max-width: 600px){
    .container{
        width: 100vw;

    }
    .panel:nth-of-type(4), .panel:nth-of-type(6){
        display: none;

    }
}

body {
  background-image: url("img/arka\ plan.jpeg");
}